{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock %}

{% block form_action %}{% url 'view_list' list.id %}{% endblock %}

{% block table %}
    <table id="id_list_table" class="table">
    </table>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            window.Superlists.initialize({
                listApiUrl: "{% url 'list-detail' list.id %}",
                itemsApiUrl: "{% url 'item-list' %}",
                listId: {{ list.id }},
            });
        });
    </script>
{% endblock scripts %}